body {
  background: #731;
}

mechanism {
  display: block;
}

.paper {
  display: block;
  height: 640px;
  margin: 24px auto;
  width: 495px;
}

.carriage {
  border-bottom: 1px solid #777;
  border-top: 1px solid #777;
  height: 12px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.arm {
  border-left: 2px dotted #777;
  border-right: 2px dotted #777;
  height: 12px;
  left: 0px;
  position: absolute;
  width: 12px;
}

.alert {
  border-left: 2px solid #f00;
  border-right: 2px solid #f00;
}

.margin-slider {
  display: flex;
  margin: -24px auto;
  width: 495px;
}

.left-margin, .right-margin {
  cursor: pointer;
  height: 0;
  position: relative;
  width: 0;
}

.left-margin {
	border-top: 24px solid #777;
	border-left: 24px solid transparent;
  left: 0px;
}

.right-margin {
	border-top: 24px solid #777;
	border-right: 24px solid transparent;
  left: 448px;
}

.print {
  position: absolute;
  top: 24px;
  right: 350px;
  height: 60px;
  width: 100px;
}
