body {
  background: #731;
  font-family: monospace;
}

mechanism {
  display: block;
}

key {
  display: block;
}

.main {
  display: flex;
  flex-direction: row;
  margin: 24px 0;
  justify-content: center;
}

.sidebar {
  background: #210;
  display: flex;
  flex-direction: column;
  height: 640px;
  margin: 0 32px;
  width: 160px;
}

.paper {
  display: block;
  height: 640px;
  width: 495px;
}

.carriage {
  border-bottom: 1px solid #777;
  border-top: 1px solid #777;
  height: 12px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.arm {
  border-left: 2px dotted #777;
  border-right: 2px dotted #777;
  height: 12px;
  left: 0px;
  position: absolute;
  width: 12px;
}

.alert {
  border-left: 2px solid #f00;
  border-right: 2px solid #f00;
}

.margin-slider {
  display: flex;
  margin: 0 auto;
  width: 495px;
}

.left-margin, .right-margin {
  cursor: pointer;
  height: 0;
  position: relative;
  width: 0;
}

.left-margin {
	border-top: 24px solid #777;
	border-left: 24px solid transparent;
  left: 0px;
}

.right-margin {
	border-top: 24px solid #777;
	border-right: 24px solid transparent;
  left: 448px;
}

.side-key {
  cursor: pointer;
  height: 60px;
  margin: 16px auto;
  text-align: center;
  line-height: 60px;
  width: 120px;
}

.side-key:hover {
  height: 55px;
}

.print-key {
  background: #db9;
}

.print-key:hover {
  border-bottom: 5px solid #f00;
}

.paper-key {
  background: #9bd;
}

.paper-key:hover {
  border-bottom: 5px solid #00f;
}

.trash-key {
  background: #9db;
}

.trash-key:hover {
  border-bottom: 5px solid #0f0;
}

.stacked {
  height: 160px;
  margin: 16px auto 0;
  width: 124px;
}
